/**
CSS para estilos de los contenedores
*/
.display__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40vw;
}
/*Estilo para el form del container*/
.inputform__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Estilo para el container del textarea*/
.textarea__container {
    position: relative;
}

/*estilo para el container del button*/
.buttons__container {
    text-align: center;
    display: flex;
    gap: 1vw;
}

/* Contenedor para el input y el botón de búsqueda */
.displayform__input__container {
    width: 40vw;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1vw;
}

/**
 * CSS para pantallas con maximo de 360px
*/
@media (max-width: 700px) {
    .display__container {
        width: 88vw;
    }

    .input__container {
        width: 88vw;
    }

    .buttons__container {
        justify-content: space-between;
        width: 86vw;
    }

}