:root {
    --cor-de-fundo1: white;
    --cor-de-fundo2: #1f1f1f;
    --cor-de-texto1: white;
    --cor-de-texto2: #464646;
    --cor-de-link: #000;
    --cor-de-btn: #2A7AE4;
    --warning-color: red;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway';
    margin: 0;
    line-height: 1;
}

section {
    padding: 4vw 5vw 4vw 5vw;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

#textinfo__bold{
    font-weight: 500;
    font-size: 20px;
}

::placeholder {
    color: var();
}

:focus {
    outline: none;
}

/*Sección Menu*/

section.menu {
    text-align: center;
    background-color: var(--cor-de-fundo1);
}

/*Sección Title*/

section.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-de-fundo2) ;
    color: var(--cor-de-texto1);
}

/*Mobile*/
@media (max-width: 700px) {
    section.principal {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}