/**
 * Definición de variables personalizadas y estilos generales.
 */

:root {
    --cor-de-fundo1: white;
    --cor-de-fundo2: #1f1f1f;
    --cor-de-texto1: white;
    --cor-de-texto2: #464646;
    --cor-de-link: #000;
    --cor-de-btn: #2A7AE4;
    --warning-color: red;
}

/* Estilos generales del cuerpo del documento */
body {
    box-sizing: border-box;
    font-family: 'Raleway';
    margin: 0;
    line-height: 1;
}

/*estilos generales para las secciones. */
section {
    padding: 4vw 5vw 4vw 5vw;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/* Estilos para el textinfo_bold */
#textinfo__bold{
    font-weight: 500;
    font-size: 20px;
}

/*Estilos para el marcador de posición en campos de entrada.*/
::placeholder {
    color: var();
}

/*Estilos para el foco en elementos.*/
:focus {
    outline: none;
}

/*Sección Menu*/

section.menu {
    text-align: center;
    background-color: var(--cor-de-fundo1);
}

/*Sección Title*/

section.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-de-fundo2) ;
    color: var(--cor-de-texto1);
}

/**
 * CSS para pantallas con maximo de 700px
*/
@media (max-width: 700px) {
    section.principal {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}